.button {
    font-size: 22px;
    font-weight: 200;
    letter-spacing: .059em
}

.login {
    background: $gold;
    padding: 78px;

    &-box {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
        overflow: hidden;
        background: $white;

        .btn-login {
            @extend .button;
            background: $lavender;
            color: $black;
            padding-left: 17px;
            padding-right: 4px;
            margin-top: 19px
        }

        .btn-do-login {
            @extend .button;
            background: $turquoise;
            color: $white;
            margin-top: -2px;
            padding-left: 58px;
            padding-right: 58px;
        }

        .login-left {
            float: left;
            width: 54%;
            background: url('../img/login-background-window.jpg') no-repeat;
            background-size: cover;
            color: $white;

            h1 {
                margin: 0;
                letter-spacing: .052em;
                font-size: 55px;
                font-weight: 200;
            }

            h4 {
                font-size: 24px;
                font-weight: 200;
                margin-top: 3px;
                letter-spacing: .1em;
            }

            p {
                margin-top: 23px;
                font-size: 16px;
                font-weight: 200;
                letter-spacing: .059em;
                line-height: 22px;
            }

            .login-left-inner {
                padding: 176px 91px 301px 55px;
            }
        }

        .login-right {
            margin-left: 54%;
            padding: 42px;

            .logo {
                height: 70px;
                background: url(../img/logo.png) 100% 0 no-repeat;
            }

            .login-form {
                padding: 70px 8px 0;

                .remember {
                    margin-top: -9px;
                    font-size: 16px;
                    letter-spacing: .056em;
                }

                .input-block {
                    padding-left: 0;
                    margin-bottom: 29px;

                    label {
                        margin-bottom: 18px;
                    }

                    input {
                        padding-left: 56px;
                    }

                    .input-login {
                        background: url(../img/person.jpg) 11px 18px no-repeat
                    }

                    .input-password {
                        background: url(../img/lock.jpg) 13px 19px no-repeat
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .login {
        padding: 20px
    }
    .login-box {
        .login-left {
            display: none;
        }

        .login-right {
            margin: 0;
            padding-left: 15px;
            padding-right: 15px
        }
    }
}